# dependencies
node_modules/

# testing
coverage/

# production
dist/

# downlads
server/react/pf2tracker-parser.zip

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.flaskenv

#python
__pycache__
